<div class="container-fluid bg-dark text-light py-3 mt-5" style="position: fixed; bottom: 0; width: 100%;">
    <div class="d-flex justify-content-around">
        <button class="btn btn-outline-light" onclick="location.href='/MenuInicial'">
            <i class="fas fa-home"></i> Menu Inicial
        </button>
        <button class="btn btn-outline-light" onclick="location.href='/EditarPerfil'">
            <i class="fas fa-user-edit"></i> Editar Perfil
        </button>
        <button class="btn btn-outline-light" onclick="location.href='/SolicitarOrcamento'">
            <i class="fas fa-file-invoice-dollar"></i> Solicitar Orçamento
        </button>
    </div>
</div>