<div class="container-fluid bg-white py-3 border-bottom box-shadow">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="/images/icon-ecoenergy-removebg-preview.svg" alt="EcoEnergy Icon" class="me-2" style="height: 40px;" />
                <h1 class="display-3" style="line-height: 0.1;">
                    <span style="color: green; font-weight: bold; font-size:large">ECO</span><span style="color: #2e2e2e; font-weight: bold; font-size:large">ENERGY</span>
                </h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark btn btn-outline-success rounded-pill mx-1" asp-area="" asp-controller="MenuInicial" asp-action="Index"><i class="fas fa-home"></i> Página Inicial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark btn btn-outline-success rounded-pill mx-1" asp-area="" asp-controller="Home" asp-action="Privacy"><i class="fas fas fa-user-shield"></i> Privacidade</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark btn btn-outline-success rounded-pill mx-1" asp-area="" asp-controller="Procedures" asp-action="MenuProcedures"><i class="fas fas fa-database"></i> Gestão de Dados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark btn btn-outline-success rounded-pill mx-1" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fas fa-sign-out-alt"></i> Sair</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>